.products-box {
    width: 100%;
    max-width: 1500px;

    margin-top: 50px;

    display: grid;
    justify-items: center;
    grid-template-columns: auto auto auto auto;
    row-gap: 15px;
}








@media screen and (width <= 1250px) {

    .products-box {
        grid-template-columns: auto auto auto;
    }

}

@media screen and (width <= 950px){
    
    .products-box {
        grid-template-columns: auto auto;
    }

}

@media screen and (width <= 650px){
    
    .products-box {
        grid-template-columns: auto;
    }

}