<div class="confirmed-order-box page">

    <img class="main-img" src="../../../assets/confirmed_order.png" />

    <div class="titles-box">
        <p class="title-txt">Pedido realizado com sucesso!</p>
        <p class="subtitle-txt">Pedido realizado com sucesso! Aguarde para mais informações</p>
    </div>

    <div class="subinfo-box">
        <p class="subinfo-txt">Você pode visualizar o andamento de seu pedido na sessão <span class="pedidos-txt">pedidos</span></p>
        <div [routerLink]="['/orders']" class="btn-box">
            <img class="btn-img" src="../../../assets/order.png" />
            <p class="btn-txt">Veja seus pedidos aqui</p>
        </div>
    </div>

</div>