<app-back />




<div [ngSwitch]="loadStatus" class="wine-box page">

    <div *ngSwitchCase="1" class="content-box">

        <div class="img-box">

            <img *ngIf="ifProductsHasMoreThanOneImage()" (click)="decreaseImageIndex()" class="arrow-img back-img" src="../../../assets/back.png"/>
            <img class="wine-img" [src]="seletedImage"/>
            <img *ngIf="ifProductsHasMoreThanOneImage()" (click)="increaseImageIndex()" class="arrow-img forward-img" src="../../../assets/forward.png"/>

        </div>

        <div class="info-box">

            <div class="maininfo-box">
                <p class="title-txt ">{{wine.name}}</p>
                <p class="desc-txt ">{{wine.description}}</p>
            </div>

            <div *ngIf="wine.harmonizationTags != null && wine.harmonizationTags.length > 0" class="subinfo-box">
                <img  class="subinfo-img" src="../../../assets/harmonization.png"/>
                <div class="subinfo-txts">
                    <p class="subinfo-title">Harmonização</p>
                    <p class="subinfo-desc">{{toStringList(wine.harmonizationTags)}}</p>
                </div>
            </div>

            <div class="subinfo-boxes">
                <div class="subinfo-box">
                    <img  class="subinfo-img" src="../../../assets/info.png"/>
                    <div class="subinfo-txts">
                        <p class="subinfo-title">Tipo</p>
                        <p class="subinfo-desc">{{wine.type}}</p>
                    </div>
                </div>

                <div *ngIf="wine.category != null" class="subinfo-box">
                    <img  class="subinfo-img" src="../../../assets/wine.png"/>
                    <div class="subinfo-txts">
                        <p class="subinfo-title">Categoria</p>
                        <p class="subinfo-desc">{{wine.category}}</p>
                    </div>
                </div>

                <div *ngIf="wine.classification != null" class="subinfo-box">
                    <img  class="subinfo-img" src="../../../assets/label.png"/>
                    <div class="subinfo-txts">
                        <p class="subinfo-title">Classificação</p>
                        <p class="subinfo-desc">{{wine.classification}}</p>
                    </div>
                </div>

                <div *ngIf="wine.grapes != null && wine.grapes.length > 0" class="subinfo-box">
                    <img  class="subinfo-img" src="../../../assets/grapes.png"/>
                    <div class="subinfo-txts">
                        <p class="subinfo-title">Uvas</p>
                        <p class="subinfo-desc">{{toStringList(wine.grapes)}}</p>
                    </div>
                </div>

                <div *ngIf="wine.size != null" class="subinfo-box">
                    <img  class="subinfo-img" src="../../../assets/jar.png"/>
                    <div class="subinfo-txts">
                        <p class="subinfo-title">Volume</p>
                        <p class="subinfo-desc">{{wine.size}}</p>
                    </div>
                </div>

                <div *ngIf="wine.country != null" class="subinfo-box">
                    <img  class="subinfo-img flag-img" [src]="wine.country.imageURL"/>
                    <div class="subinfo-txts">
                        <p class="subinfo-title">País</p>
                        <p class="subinfo-desc flag-txt">{{wine.country.name}}</p>
                    </div>
                </div>
            </div>

            <div [ngSwitch]="wine.status" class="buy-box">

                <div *ngSwitchCase="'DISPONÍVEL'">
                    <div *ngIf="wine.hasProm" class="prom-box red-box">
                        <p class="prom-percentage-txt">{{wine.promPercentage}}% OFF</p>
                    </div>

                    <div *ngIf="!wine.hasProm" class="prom-box green-box">
                        <p class="prom-percentage-txt">10% OFF no consórcio</p>
                    </div>




                    <div *ngIf="wine.hasProm" class="prices-box">
                        <p *ngIf="wine.hasProm" class="price-txt">R${{formatPriceNumber(wine.promPrice)}}</p>
                        <p [ngClass]="wine.hasProm ? ['smaller-txt', 'line-txt'] : ''" class="price-txt">R${{formatPriceNumber(wine.regPrice)}}</p>
                    </div>

                    <div *ngIf="!wine.hasProm" class="prices-box column-box">
                        <p class="price-txt">R${{formatPriceNumber(wine.memberPrice)}}</p>
                        <p class="price-txt smaller-txt"> R${{formatPriceNumber(wine.regPrice)}} <span class="span-txt">não consorciado</span></p>
                    </div>

                    <div class="btn-boxes">
    
                        <div class="quantity-box">
                            <img (click)="changeQuantity('minus')" class="quantity-img" src="../../../assets/minus.png"/>
                            <p class="quantity-txt ">{{quantity}}</p>
                            <img (click)="changeQuantity('plus')" class="quantity-img" src="../../../assets/increase.png"/>
                        </div>
                        
                        <div (click)="addToCart()" class="btn-box">
                            <p class="btn-txt ">Adicionar</p>
                        </div>
    
                    </div>
                </div>

                <div *ngSwitchCase="'INDISPONÍVEL'">
                    <p class="price-txt ">Produto Indisponível</p>
                </div>

            </div>


        </div>

    </div>




    <app-error *ngSwitchCase="0" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="2" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="3" [loadStatus]="loadStatus" />

</div>
