.wine-box {
    padding-top: 0;
}








.content-box {
    width: 100%;

    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}




.img-box {
    width: 100%;
    max-width: 525px;
    height: min-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.arrow-img {
    width: 30px;
    height: 30px;

    cursor: pointer;
}

.wine-img {
    width: 300px;
}




.info-box {
    width: 100%;
    max-width: 525px;

    padding: 35px;

    display: flex;
    flex-direction: column;
    gap: 50px;

    border-radius: 10px;

    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.1);

    background-color: white;
}




.maininfo-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-txt {
    font-size: 25px;
    font-weight: 500;
}

.desc-txt {
    font-size: 15px;
    color: gray;
}








.subinfo-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.subinfo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.subinfo-txts-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subinfo-img {
    width: 30px;
    height: 30px;
}

.subinfo-title {
    font-size: 15px;

    color: gray;
}

.subinfo-desc {
    font-size: 17.5px;
}

.flag-img {
    width: 45px;

    box-shadow: 1.5px 1.5px 7.5px 2.5px rgba(0, 0, 0, 0.2);
}

.flag-txt {
    font-weight: 500;

    text-shadow: 0.5px 0.5px 7.5px rgba(0, 0, 0, 0.5);
}







.buy-box {
    margin-top: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.prom-box {
    width: fit-content;
    
    padding: 5px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.red-box {
    background-color: #c71515;
}

.green-box {
    background-color: #06b400;
}

.prom-percentage-txt {
    color: white;
}








.prices-box {
    padding: 10px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.column-box {
    flex-direction: column;
    align-items: start;
    gap: 0;
}

.price-txt {
    font-size: 30px;
    font-weight: 500;
}

.smaller-txt {
    font-size: 20px;
    font-weight: 400;
    color: rgb(105, 105, 105);
}

.line-txt {
    text-decoration: line-through;
}




.span-txt {
    font-size: 13.5px;
}




.btn-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}




.quantity-box {
    height: 40px;

    padding: 0 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.quantity-img {
    width: 15px;
    height: 15px;

    cursor: pointer;
}

.quantity-txt {
    font-size: 25px;
}




.btn-box {
    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    background-color: #03a678;

    cursor: pointer;
}

.btn-box:hover {
    background-color: #058b66;
}

.btn-txt {
    color: white;
    font-weight: 600;
}
