<div [ngSwitch]="loadStatus" class="admin-orders-box page">

    <p class="page-title-txt">Gerenciar Pedidos</p>


    <input *ngIf="loadStatus != 3" (input)="textInputEvent()" [(ngModel)]="text" class="input" placeholder="Procurar produto..." /> 
    

    <div *ngSwitchCase="1" class="content-box">
        
        <div class="products-box">

            <app-admin-order 
            *ngFor="let order of orders"
            [order]="order"
            />

        </div>

    </div>




    <app-error *ngSwitchCase="0" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="2" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="3" [loadStatus]="loadStatus" />

</div>