<div class="order-product-box">

    <img class="product-img" [src]="getFirstImage()" />

    <div class="product-info">
        <p class="product-name">{{orderProduct.product.name}}</p>
        <div class="product-subinfo-box">
            <p>{{orderProduct.product.type}}</p>
            <p *ngIf="orderProduct.product.type == 'Vinho'">&#8226;</p>
            <p *ngIf="orderProduct.product.type == 'Vinho'">{{orderProduct.product.category}}</p>
            <p *ngIf="orderProduct.product.type == 'Vinho'">&#8226;</p>
            <p *ngIf="orderProduct.product.type == 'Vinho'" class="hidden-txt">{{orderProduct.product.classification}}</p>
        </div>
    </div>

    <div class="product-info product-prices-box">
        <p class="product-price">1un. R${{orderProduct.product.regPrice}}</p>
        <p class="product-total-price">{{orderProduct.quantity}}un. R${{orderProduct.totalPrice}}</p>
    </div>

</div>
