<app-back [url]="'admin-products'" />




<div [ngSwitch]="loadStatus" class="admin-product-box page">

    <div *ngSwitchCase="1" class="content-box">
        
        <p class="page-title-txt">Produto</p>

        <div class="form-box">

            <div class="input-box">

                <p class="input-title-txt">Imagens:</p>
                <input (change)="selectImage($event)" id="fileinput" type="file" hidden multiple accept="image/*" />
                <label for="fileinput" class="input img-input">Selecionar imagens</label>

                <div class="img-boxes">
                    <div
                    *ngFor="let image of getImagesList()"
                    class="img-box">
                        <img (click)="deleteSelectedImage(image)" class="img-delete" src="../../../assets/trash.png" />
                        <img
                        class="img"
                        [src]="image" 
                        />
                    </div>
                </div>

            </div>




            <div class="input-box">
                <p class="input-title-txt">Nome:</p>
                <input [(ngModel)]="name" class="input" placeholder="Nome..." />
            </div>

            <div class="input-box">
                <p class="input-title-txt">Descrição:</p>
                <input [(ngModel)]="description" class="input" placeholder="Descrição..." />
            </div>

            <div class="wrap-input-boxes">

                <div class="input-box wrap-input-box">
                    <p class="input-title-txt">Tipo:</p>
                    <select [(ngModel)]="type" class="input">
                        <option>Vinho</option>
                        <option>Suco</option>
                        <option>Acessório</option>
                    </select>
                </div>

                <div class="input-box wrap-input-box">
                    <p class="input-title-txt">Estoque:</p>
                    <input [(ngModel)]="quantity" class="input" type="number" />
                </div>

                <div *ngIf="type == 'Vinho' || type == 'Suco'" class="input-box wrap-input-box">
                    <p class="input-title-txt">Tamanho:</p>
                    <input [(ngModel)]="size" class="input" placeholder="1L, 750ml..." />
                </div>

            </div>
            
            <div *ngIf="type == 'Vinho' || type == 'Suco'" class="wrap-input-boxes">

                <div *ngIf="type == 'Vinho'" class="input-box wrap-input-box">
                    <p class="input-title-txt">Categoria:</p>
                    <select [(ngModel)]="category" class="input">
                        <option>Tinto</option>
                        <option>Branco</option>
                        <option>Rosé</option>
                        <option>Espumante</option>
                        <option value="Vinho_de_Sobremesa">Vinho de Sobremesa</option>
                    </select>
                </div>

                <div class="input-box wrap-input-box">
                    <p class="input-title-txt">País:</p>
                    <select [(ngModel)]="country" class="input">
                        <option value="fd0b37d1-990d-4d0d-96b3-de083e517150">Brasil</option>
                        <option value="0a349bfc-1e94-4c80-bc5c-9e60e2caf8f9">Argentina</option>
                        <option value="44966b73-3954-4588-86ae-0fc1b8df308c">Chile</option>
                        <option value="6404bf93-d6c3-455e-866b-5b9febd0e0a7">Portugal</option>
                        <option value="5a3c5c05-f1eb-4a1d-bd56-65bf9d8b2793">Itália</option>
                        <option value="c26d9393-e9d0-49ca-8f4e-d8c699d6bb81">França</option>
                        <option value="b364b1ab-9d7a-414e-97b8-481dc2125529">Espanha</option>
                    </select>
                </div>

                <div *ngIf="type == 'Vinho'" class="input-box wrap-input-box">
                    <p class="input-title-txt">Classificação:</p>
                    <select [(ngModel)]="classification" class="input">
                        <option>Nature</option>
                        <option value="Extra_Brut">Extra Brut</option>
                        <option>Brut</option>
                        <option>Moscatel</option>
                        <option value="Demi_Sec">Demi Sec</option>
                        <option>Seco</option>
                        <option>Suave</option>
                    </select>
                </div>

            </div>








            <div *ngIf="type == 'Vinho'" class="input-box">
                <p class="input-title-txt">Tags de harmonização:</p>
                <div class="grapes-input-box">
                    <div
                    *ngFor="let selectedHarmo of selectedHarmos"
                    class="grape-box">
                    <p>{{selectedHarmo.name}}</p>
                    <p (click)="removeSelectedElement(selectedHarmos, selectedHarmo)" class="exclude-txt">&#10005;</p>
                    </div>

                    <input 
                    [(ngModel)]="harmo" 
                    (input)="findHarmonizationsByName()"
                    (focus)="isHarmoDropdownShown = true"
                    (blur)="harmosTimeoutDropDown()"
                    class="input non-box-shadow" 
                    />

                    <div (click)="createSelectedElement(selectedHarmos, harmo)" class="grape-btn-box">
                        <p class="grape-btn-txt">Adicionar</p>
                    </div>
                </div>

                <app-dropdown 
                [items]="allHarmo"
                [isShown]="isHarmoDropdownShown"
                (clickItem)="addSelectedElement(selectedHarmos, $event)"
                />
            </div>


            <div *ngIf="type == 'Vinho' || type == 'Suco'" class="input-box">
                <p class="input-title-txt">Uvas:</p>
                <div class="grapes-input-box">
                    <div
                    *ngFor="let selectedGrape of selectedGrapes"
                    class="grape-box">
                    <p>{{selectedGrape.name}}</p>
                    <p (click)="removeSelectedElement(selectedGrapes, selectedGrape)" class="exclude-txt">&#10005;</p>
                    </div>

                    <input 
                    [(ngModel)]="grape" 
                    (input)="findGrapesByName()"
                    (focus)="isGrapesDropDownShown = true"
                    (blur)="grapesTimeoutDropDown()"
                    class="input non-box-shadow" 
                    />

                    <div (click)="createSelectedElement(selectedGrapes, grape)" class="grape-btn-box">
                        <p class="grape-btn-txt">Adicionar</p>
                    </div>
                </div>

                <app-dropdown 
                [items]="allGrapes"
                [isShown]="isGrapesDropDownShown"
                (clickItem)="addSelectedElement(selectedGrapes, $event)"
                />
            </div>








            <div class="wrap-input-boxes">

                <div class="input-box wrap-input-box">
                    <p class="input-title-txt">Promocional:</p>
                    <select [(ngModel)]="hasProm" class="input">
                        <option value="false">NÃO</option>
                        <option value="true">SIM</option>
                    </select>
                </div>

                <div *ngIf="hasProm == 'true'" class="input-box wrap-input-box">
                    <p class="input-title-txt">Preço promocional:</p>
                    <div class="price-input-box">
                        <p class="reais-txt">R$</p>
                        <input [(ngModel)]="promPrice" (input)="promPriceInputCheck()" class="input non-box-shadow" placeholder="00.00" />
                    </div>
                </div>

            </div>

            <div class="wrap-input-boxes">

                <div class="input-box wrap-input-box">
                    <p class="input-title-txt">Preço regular:</p>
                    <div class="price-input-box">
                        <p class="reais-txt">R$</p>
                        <input [(ngModel)]="price" (input)="priceInputCheck()" class="input non-box-shadow" placeholder="00.00" />
                    </div>
                </div>

                <div class="input-box wrap-input-box">
                    <p class="input-title-txt">Status:</p>
                    <select [(ngModel)]="status" class="input">
                        <option>DISPONÍVEL</option>
                        <option>INDISPONÍVEL</option>
                    </select>
                </div>

            </div>

            <div class="btn-boxes">
                <div (click)="saveBtnClick()" class="btn-box">
                    <p class="btn-txt">Salvar</p>
                </div>
                <div *ngIf="ifProductExists" (click)="deleteActionDialog()" class="btn-box red-btn">
                    <p class="btn-txt">Deletar</p>
                </div>
            </div>

        </div>

    </div>




    <app-error *ngSwitchCase="0" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="2" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="3" [loadStatus]="loadStatus" />

</div>