<div class="dialog-box">

    <div class="content-box">

        <img class="status-img" src="../../../assets/attention.png"/>

        <div class="info-box">
            <p class="title-txt">{{data.title}}</p>
            
            <div class="btn-box">

                <img (click)="clickBtn('cancel')" src="../../../assets/wrong_btn.png" class="img-btn" />
                <img (click)="clickBtn('confirm')" src="../../../assets/correct_btn.png" class="img-btn" />

            </div>
        </div>

    </div>

</div>