<div 
(click)="goToWinePage()" 
class="product-box"
>

   <div class="img-box">

    <img class="wine-img" [src]="getFirstImage()"/>

   </div>




   <div class="info-box">

    <div *ngIf="wine.status == 'DISPONÍVEL'" class="info-section-box">

        <div *ngIf="!wine.hasProm" class="prices-box">
            <p class="price-txt smaller-txt">R${{getNumberFormated(wine.regPrice)}} regular</p>

            <div class="prom-box">
        
                <p class="prom-price-txt price-txt">R${{getNumberFormated(getMemberPrice())}}</p>
                <div class="prom-percentage-box green-box">
                    <p class="prom-percentage-txt">Consórcio</p>
                </div>
        
            </div>
        </div>

        <div *ngIf="wine.hasProm" class="prices-box">
            <p class="price-txt line-txt">R${{getNumberFormated(wine.regPrice)}}</p>

            <div class="prom-box">
        
                <p class="prom-price-txt price-txt">R${{getNumberFormated(wine.promPrice)}}</p>
                <div class="prom-percentage-box red-box">
                    <p class="prom-percentage-txt">{{wine.promPercentage}}% OFF</p>
                </div>
        
            </div>
        </div>

    </div>

    <div class="info-section-box">

        <p class="name-txt ">{{wine.name}}</p>
    
        <div class="desc-box">
            <p>{{wine.type}}</p>
            <p *ngIf="wine.type == 'Vinho'">&#8226;</p>
            <p *ngIf="wine.type == 'Vinho'">{{wine.category}}</p>
            <p *ngIf="wine.type == 'Vinho'">&#8226;</p>
            <p *ngIf="wine.type == 'Vinho'" class="hidden-txt">{{wine.classification}}</p>
        </div>

    </div>

   </div>





   <div
   [ngSwitch]="wine.status"
   [ngClass]="wine.status == 'INDISPONÍVEL' ? 'unavailable' : ''" 
   class="btn-box">

    <div *ngSwitchCase="'DISPONÍVEL'">
        <p class="buy-txt">Comprar</p>
    </div>
    
    <p *ngSwitchCase="'INDISPONÍVEL'">Indisponível</p>

   </div>

</div>
