<div class="order-product-box">

    <img class="product-img" [src]="getFirstImage()" />

    <div class="product-info">
        <p class="product-name">{{cartProduct.wine.name}}</p>
        <div class="product-subinfo-box">
            <p>{{cartProduct.wine.type}}</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'">&#8226;</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'">{{cartProduct.wine.category}}</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'">&#8226;</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'" class="hidden-txt">{{cartProduct.wine.classification}}</p>
        </div>
    </div>

    <div class="product-info product-prices-box">
        <p class="product-price">1un. R${{formatPriceNumber(cartProduct.wine.currentPrice)}}</p>
        <p class="product-total-price">{{cartProduct.quantity}}un. R${{formatPriceNumber(getRoundedPrice())}}</p>
    </div>

</div>
