<div class="cart-product-box">
    
    <img class="product-img" [src]="getFirstImage()"/>

    <div class="info-box">

        <div class="maininfo-box">

            <div class="descriptions-box">

                <p class="wine-name-txt montserrat-font">{{cartProduct.wine.name}}</p>

                <div class="desc-box">

                    <p>{{cartProduct.wine.type}}</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'">&#8226;</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'">{{cartProduct.wine.category}}</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'">&#8226;</p>
                    <p *ngIf="cartProduct.wine.type == 'Vinho'">{{cartProduct.wine.classification}}</p>

                </div>

            </div>

            <div class="prices-box">

                <p class="quantity-price-txt montserrat-font">{{cartProduct.quantity}}un. R${{formatPriceNumber(getRoudendPrice())}}</p>
                <p class="single-price-txt montserrat-font">1un. R${{formatPriceNumber(cartProduct.wine.currentPrice)}}</p>

            </div>

        </div>

        <div class="subinfo-box">

            <div class="quantity-box">
                <img (click)="changeQuantity('minus')" class="quantity-img" src="../../../assets/minus.png"/>
                <p class="quantity-txt montserrat-font">{{cartProduct.quantity}}</p>
                <img (click)="changeQuantity('plus')" class="quantity-img" src="../../../assets/increase.png"/>
            </div>

            <div (click)="deleteCartProduct()" class="btn-box">

                <p class="btn-txt montserrat-font">Excluir</p>

            </div>

        </div>

    </div>

</div>
