<div [ngSwitch]="loadStatus" class="home-box page">

    <p class="title-txt">Vinhos</p>

    


    <div class="filters-box">
        <div *ngIf="ifQueryParamsExists()" (click)="clearQueryParams()" class="clear-filter-box btn-leaked-box leaked-red-box">
            <p class="btn-leaked-txt leaked-red-txt">Limpar filtros</p>
        </div>

        <div (click)="openFilter()" class="products-filter-box">
            <img class="filter-img" src="../../../assets/filter.png" />
            <p class="filter-txt">Filtros</p>
        </div>
    </div>

    


    <div *ngSwitchCase="1" class="content-box">

        <div class="products-box">
    
            <app-product
            *ngFor="let wine of wines"
            [wine]="wine" 
            />
    
        </div>

    </div>

    


    <app-error *ngSwitchCase="0" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="2" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="3" [loadStatus]="loadStatus" />

</div>
