<div [ngSwitch]="loadStatus" class="cart-box page">

    <div *ngSwitchCase="1" class="content-box">

        <div class="products-box">

            <p class="products-title-txt montserrat-font">Meu Carrinho</p>
    
            <div class="cart-products-box">

                <app-cart-product 
                *ngFor="let product of cartProducts"
                [isUserMember]="isUserMember"
                [cartProduct]="product"
                (setTotalPriceEvent)="setTotalPrice($event)"
                (discountAppliedEvent)="isDiscountApplied = true"
                (deleteProductEvent)="isDiscountApplied = false; getCartProducts()"
                />

            </div>
    
        </div>
    
        <div class="payment-box">
    
            <p class="payment-title-txt montserrat-font">Resumo da Compra</p>
            <p class="warning-txt">*O desconto do consórcio não é aplicado em produtos em promoção</p>
            
            <div class="price-boxes">

                <div class="price-box">

                    <p class="montserrat-font">Subtotal</p>
                    <p class="montserrat-font">R${{getSubtotalPriceRounded()}}</p>
    
                </div>

                <div *ngIf="isDiscountApplied" class="price-box">

                    <p class="montserrat-font green-txt">Consórcio</p>
                    <p class="montserrat-font green-txt">10% OFF</p>
    
                </div>
    
                <div class="price-box">
    
                    <p class="total-txt montserrat-font">Total</p>
                    <p class="total-txt montserrat-font">R${{getTotalPriceRounded()}}</p>
    
                </div>
    
                <div (click)="goToCheckoutPage()" class="btn-box">

                    <p class="btn-txt montserrat-font">Comprar</p>

                </div>

            </div>
    
        </div>

    </div>




    <app-error *ngSwitchCase="0" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="2" [loadStatus]="loadStatus" />
    <app-error *ngSwitchCase="3" [loadStatus]="loadStatus" />

</div>
